
body {
    padding-top: 0px;
    padding-bottom: 70px;
}

.col-md-4, .col-md-8 {
}

div.panel h3 {
    font-weight: bold;
}

div.panel-body {
    padding: 0;
    margin: auto;
    height: 320px;
}

div#usage-chart-now {
    width: 58%;
    margin: 0;
    padding: 0;
    height: 100%;
    text-align: center;
    float: left;
}

div#power-meter-total {
    float: right;
    margin: 12px 0;
    text-align: center;
    width: 42%;
}

div#power-meter-total span.total {
    font-size: 36px;
}
div#power-meter-total span.kwh-day {
    font-size: 24px;
}

div#power-meter-total table {
    width: 100%;
}
div#power-meter-total table tr td {
    padding: 4px 4px 12px 4px;
}

div#sd60-total {
    height: 100px;
    text-align: center;
}

div#sd60-total-day {
    height: 140px;
}

div#usage-chart-hour {
    height: 300px;
}

div#total-day-value, div#total-today-value {
    margin: auto;
    font-size: 36px;
    text-align: center;
    padding: 12px, 0, 0, 0;
}

span.onOrange {
    color: orange;
}

@media screen and (max-device-width: 320px) {
}

@media screen and (max-device-width: 320px) and (orientation: portrait) {
    div#usage-chart-now-body {
        height: 380px;
    }

    div#usage-chart-now {
        width: 98%;
        height: 280px;
        margin-left: 2%;
    }

    div#power-meter-total {
        text-align: center;
    }
    div#power-meter-total span.power-label, div#power-meter-total span.timestamp {
        color: #666;
    }
    div#power-meter-total span.total {
        font-size: 36px;

    }
    span.onOrange {
        color: orange;
    }

    body {
    }
}

@media screen and (max-device-width: 320px) and (orientation: landscape) {
    body {
    }
}
