
body {
    padding-top: 90px;
    padding-bottom: 70px;
}

.col-md-4, .col-md-8 {
}

div.panel h3 {
    font-weight: bold;
}

div.panel-body {
    padding: 0;
    margin: auto;
    height: 320px;
}

div#usage-chart-now {
    width: 94%;
    margin-left: 6%;
    padding: 0;
    height: 100%;
    text-align: center;
}

div#sd60-total {
    height: 100px;
    text-align: center;
}

div#sd60-total-day {
    height: 140px;
}

div#usage-chart-hour {
    height: 300px;
}

div#total-day-value, div#total-today-value {
    margin: auto;
    font-size: 36px;
    text-align: center;
    padding: 12px, 0, 0, 0;
}

@media screen and (max-device-width: 320px) {
    body {
        padding-top: 0px;
    }
}

@media screen and (max-device-width: 320px) and (orientation: portrait) {
    div#usage-chart-now-body {
        height: 380px;
    }

    div#usage-chart-now {
        width: 98%;
        height: 280px;
        margin-left: 2%;
    }

    div#power-meter-total {
        text-align: center;
    }
    div#power-meter-total span.power-label, div#power-meter-total span.timestamp {
        color: #666;
    }
    div#power-meter-total span.total {
        font-size: 36px;

    }

    body {
    }
}

@media screen and (max-device-width: 320px) and (orientation: landscape) {
    body {
    }
}
