
body {
    
    padding-top: 0px;
    padding-bottom: 24px;
}

.col-md-4, .col-md-8 {
}

div.panel h3 {
    font-weight: bold;
}

div.panel {
}

div.panel-body {
    padding: 0;
    margin: auto;
    height: 320px;
}

div#usage-chart-now {
    width: 58%;
    margin: 0;
    padding: 0;
    height: 100%;
    text-align: center;
    float: left;
}

div#power-meter-total {
    float: right;
    margin: 12px 0;
    text-align: center;
    width: 42%;
}

div#meter-total-container {
    overflow: hidden;
}

form#form-set-meter div.button-container {
    padding-top: 6px;
}

form#form-set-meter div.button-container .btn-lg {
    width: 80px;
}

form#form-set-meter div.button-container button {
    margin-right: 4px;
}

form#form-set-meter div.input-container {
    padding-top: 4px;
}

div#set-meter-container {
    border: 1px solid #d6e9c6;
    margin: 0 8px 0 8px;
    border-radius: 12px;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.25);
}

div#set-meter-container div.power-label {
    background-color: #dff0d8;
    color: #468847;
    font-weight: bold;
    border-radius: 12px 12px 0 0;
}

div#set-meter-container div.timestamp {
    background-color: #dff0d8;
    color: #468847;
    font-weight: bold;
    border-radius: 0 0 12px 12px;
    margin-top: 4px;
}

div#power-meter-total div.total {
    font-size: 42px;
}
div#power-meter-total span.kwh-day {
    font-size: 28px;
}

div#power-meter-total table {
    width: 100%;
}
div#power-meter-total table tr td {
    padding: 4px 4px 12px 4px;
}

div#sd60-total {
    height: 100px;
    text-align: center;
}

div#sd60-total-day {
    height: 140px;
}

div#usage-chart-hour {
    height: 300px;
}

div#total-day-value, div#total-today-value {
    margin: auto;
    font-size: 36px;
    text-align: center;
    padding: 12px, 0, 0, 0;
}

.onOrange {
    color: orange;
}

div.pageshow-marker {
    background-color: #ffffaa;
}

.visible {
    display: visible;
}

.hidden {
    display: none;
}

#form-set-meter {
    padding-top: 4px;
    padding-bottom: 4px;
}

div#power-meter-total span.power-label, div#power-meter-total div.timestamp {
    color: #666;
}

input.total {
    font-size: 40px;
    border: 0;
    padding: 0 32px 0 32px;
    line-height: 40px;
    border-bottom: 2px solid #999;
    font-family: monospace;
}

@media screen and (max-device-width: 320px) {
    input.form-control {
        width: 66%;
    }
}

@media screen and (max-device-width: 320px) and (orientation: landscape) { 
    div#usage-chart-now-body {
        height: 260px;
    }
}

@media screen and (max-device-width: 320px) and (orientation: portrait) {
    div#usage-chart-now-body {
        height: 460px;
    }

    div#usage-chart-now {
        width: 98%;
        height: 280px;
        margin-left: 2%;
        float: none;

    }

    div#power-meter-total {
        width: 100%;
        text-align: center;
        float: none;
        margin: 0;
    }

    div#power-meter-total table tr td {
        padding: 0 0 12px 0;
    }

    div#power-meter-total div.total {
        font-size: 36px;

    }
    span.onOrange {
        color: orange;
    }

    body {
    }
}

@media screen and (max-device-width: 320px) and (orientation: landscape) {
    body {
    }
}
